*old*
*__pycache__*
data.csv
notes/
*CryptoTrade*
*.log
/model/train_log.txt
/model/torch_model_train_meta.json
/model/torch_model_train_info.pt
confmat_cnn.csv
*.csv
*exported_project_files*
*debug_data*
data_process/data/*
output*
*keys*
launch.json
#label_viewer
node_modules
data_process/label_viewer/public