*old*
*__pycache__*
data.csv
*backtrader*
*CryptoTrade*
*.log
/model/train_log.txt
/model/cnn_timeseries_torch_meta.json
/model/cnn_timeseries_torch_model.pt
confmat_cnn.csv
*.csv
*exported_project_files*
*debug_data*
data_process/data/*